<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href=".public/utils/weather.png">
    <link rel="stylesheet" href =".public/css/styles.css">
    <script src =".public/js/app.js"></script>
<title>
    About
</title>

</head>
<body>
    <div class="main-content">
    {{>header}}
    
    
    <img src="/utils/workHardWallpaper.png" class = "workHard">
    </div>
    {{>footer}}
</body>
</html>