<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href=".public/utils/weather.png">
    <link rel="stylesheet" href =".public/css/styles.css">
    <script src =".public/js/app.js"></script>
<title>
    Error
</title>

</head>
<body>
    <div class="main-content">
        {{>header}}
        <h2 style="text-align: center;">{{message}}</h2>
    </div>
 
    {{>footer}}
</body>
</html>